header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
  background: transparent;
  background: linear-gradient(#9071DB, #6B42CF, #4613C4);
}

.cta1 {
  background-color: white;
  color: var(--color-purple);
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

nav {
  background-color: white;
  border-radius: 100%;
  border-radius: 60px;
    padding: 10px 30px
}

.menu-link{
  color: black;
  text-decoration: none;
  font-weight: 400;
}

.active {
  color: var(--color-purple);
  font-weight: 700;
}