<section class="container mb-5">
  <div
    class="hero text-center py-5 d-flex align-items-center justify-content-center gap-3 d-md-block"
  >
    <h2>{{ 'portfolio_hero_title' | translate }}</h2>
    <p class="mb-1">{{ 'home' | translate }} - {{ 'portfolio_hero_title' | translate }}</p>
  </div>
</section>

@if (isLoading) {
  <div class="text-center">
    <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}

@if (items.length === 0) {
  <img src="./assets/Empty-amico.png" class="d-block mx-auto" width="30%" alt="" />
}

@if (items) {
  <section class="container">
    <!-- Category Tabs -->
    <div class="category-tabs mb-5">
      <button class="tab-btn active" data-filter="all">{{ 'all_work' | translate }}</button>
      @for (cat of categories; track $index) {
        <button class="tab-btn" data-filter="branding">{{ cat.translations[0].title }}</button>
      }
    </div>

    <!-- Portfolio Grid -->
    <div class="row g-4" id="portfolioGrid">
      @for (item of items; track $index) {
        <div class="col-12 col-md-6 col-lg-4" data-category="development">
          <div class="portfolio-card" data-category="development">
            <div class="card-image-wrap">
              <img [src]="item.imageLink" [alt]="item.translations[0].imageAltText" />
            </div>
            <div class="card-body-custom py-3 mx-2">
              <span class="card-category-tag">{{ item.categoryName }}</span>
              <h3 class="card-title-custom">{{ item.translations[0].title }}</h3>
              <p class="card-desc" [innerHTML]="item.translations[0].description"></p>
              <a
                [routerLink]="['/portfolio', item.slug]"
                [relativeTo]="null"
                class="btn btn-primary w-100"
              >
                <i class="bi bi-arrow-up-right"></i>
                <span>see</span>
              </a>
            </div>
          </div>
        </div>
      }
    </div>
  </section>
}

<!-- <script>
  const tabs = document.querySelectorAll('.tab-btn');
  const cards = document.querySelectorAll('#portfolioGrid > [data-category]');

  tabs.forEach(tab => {
    tab.addEventListener('click', () => {
      tabs.forEach(t => t.classList.remove('active'));
      tab.classList.add('active');

      const filter = tab.dataset.filter;

      cards.forEach(col => {
        const cat = col.dataset.category;
        if (filter === 'all' || cat === filter) {
          col.classList.remove('hidden');
        } else {
          col.classList.add('hidden');
        }
      });
    });
  });
</script> -->
