.hero{
    background-color: #F6F9FC;
    border-radius: 30px;
}

.cta{
    background: linear-gradient(#60D669, #1FAF38);
    color: white;
    border-radius: 50px;
    text-decoration: none;
    padding: 10px 20px;
}