<footer>
  <div class="container footer-container text-white py-5 px-5 my-4">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 bm-3">
        <img src="/assets/logo2 1.png" class="d-block mx-auto mb-4" width="150px" alt="" />
        <p dir="ltr" class="text-center">Creative minds building impactful <br> digital experience.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3 text-center">
        <h5>روابط سريعة</h5>

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">الرئيسية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about-us">من نحن</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">الدعم</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact-us">تواصل معنا</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <h5 class="text-center mb-4">وسائل التواصل الاجتماعي</h5>
        <div class="d-flex gap-4 flex-wrap">
          <a href="">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="">
            <i class="bi bi-tiktok"></i>
          </a>

          <a href="">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="">
            <i class="bi bi-behance"></i>
          </a>
          <a href="">
            <i class="bi bi-snapchat"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
