<section class="hero position-relative">
  <div class="container h-100 d-flex flex-column justify-content-center">
    <div class="mb-5">
      <h1 class="text-white display-3 fw-bold mb-4">
        {{ 'home_page.hero_title_part1' | translate }}<br />
        {{ 'home_page.hero_title_part2' | translate }}
      </h1>
      <p class="text-white fs-4 opacity-75 mb-5" style="max-width: 600px">
        {{ 'home_page.hero_desc' | translate }}
      </p>
    </div>
    <div class="d-none d-md-block">
      <div class="d-flex gap-3">
        <a href="https://wa.me/+966557742801" target="_blank" class="cta1">{{ 'home_page.hero_cta1' | translate }}</a>
        <a routerLink="/our-services" class="cta2">{{ 'home_page.hero_cta2' | translate}}</a>
      </div>

    </div>
  </div>
  <img src="/assets/Wave.png" class="wave" alt="wave" />
</section>


<section class="container py-3 d-block d-md-none">
  <div class="d-flex justify-content-around">
    <a routerLink="/our-services" class="purple-cta">{{ 'home_page.learn_more_services' | translate }}</a>
    <a href="https://wa.me/+966557742801" target="_blank" class="rounded-cta">
      <i class="bi bi-person-plus-fill"></i>
    </a>
  </div>
</section>

<section class="py-5 position-relative overflow-hidden">
  <div class="container">
    <h3 class="text-center mb-5 fw-bold fs-2" [innerHTML]="'home_page.why_lighthouse.title' | translate"></h3>

    <div class="position-relative">
      <div class="d-none d-md-block z-n1 dashed-line"></div>

      <div class="row g-4 text-center justify-content-center">
        <div class="col-md-4">
          <div class="d-flex flex-column align-items-center p-3">
            <div
              class="d-flex align-items-center justify-content-center rounded-circle text-white fw-bold mb-3 shadow-sm"
              style="
                width: 60px;
                height: 60px;
                background-color: #ff5722;
                font-size: 1.5rem;
                z-index: 1;
              "
            >
              1
            </div>
            <p class="text-secondary mb-0 fw-medium" [innerHTML]="'home_page.why_lighthouse.item1' | translate"></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="d-flex flex-column align-items-center p-3">
            <div
              class="d-flex align-items-center justify-content-center rounded-circle text-white fw-bold mb-3 shadow-sm"
              style="
                width: 60px;
                height: 60px;
                background-color: #00bcd4;
                font-size: 1.5rem;
                z-index: 1;
              "
            >
              2
            </div>
            <p class="text-secondary mb-0 fw-medium" [innerHTML]="'home_page.why_lighthouse.item2' | translate"></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="d-flex flex-column align-items-center p-3">
            <div
              class="d-flex align-items-center justify-content-center rounded-circle text-white fw-bold mb-3 shadow-sm"
              style="
                width: 60px;
                height: 60px;
                background-color: #8bc34a;
                font-size: 1.5rem;
                z-index: 1;
              "
            >
              3
            </div>
            <p class="text-secondary mb-0 fw-medium" [innerHTML]="'home_page.why_lighthouse.item3' | translate"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="mb-5">
      <h2 class="text-center">{{ 'home_page.clients_issues.title' | translate }}</h2>
      <p class="text-center">{{ 'home_page.clients_issues.subtitle' | translate }}</p>
    </div>
    
    <div class="clients-issues pt-5 px-4">
      <div class="row">
        <div class="col-12 col-md-6 mb-5 mb-md-2">
          <h2 class="text-center mb-4 px-4 fw-bold">{{ 'home_page.clients_issues.agencies_title' | translate }}</h2>
          <div class="grey-box py-4 px-4">
            <img src="/assets/Frame.png" class="mb-3" alt="" />
            <ul>
              @for (item of ('home_page.clients_issues.agencies_list' | translate); track $index) {
                <li class="mb-3">{{ item }}</li>
              }
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <img src="/assets/logo1 1.png" class="d-block mx-auto mb-2" width="140px" alt="" />
          <div class="white-box py-2 px-4">
            <img src="/assets/Vector.png" alt="" />
            <div class="mt-2">
              @for (item of ('home_page.clients_issues.lighthouse_list' | translate); track $index) {
                <div class="purple-text">
                  <p class="mb-0">{{ item }}</p>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="mb-4 mt-3">
        <p class="text-center" style="color: var(--color-purple); font-weight: 600;">{{ 'home_page.clients_issues.learn_more' | translate }}</p>
      </div>
    </div>
  </div>
</section>

<section class="how-we-work text-white pb-5">
  <div class="container pt-5">
    <h2 class="text-center">{{ 'home_page.how_we_work.title' | translate }}</h2>
    <p class="text-center mb-5">
      <span>{{ 'home_page.how_we_work.desc1' | translate }}</span>
      <br />
      <span>{{ 'home_page.how_we_work.desc2' | translate }}</span>
    </p>

    <div class="row">
      <div class="col-12 col-md-6 mb-3" *ngFor="let item of ('home_page.how_we_work.items' | translate)">
        <div class="d-flex gap-2 mb-3">
          <img src="/assets/image 3.png" width="40px" alt="" />
          <h4>{{ item.title }}</h4>
        </div>
        <p>{{ item.desc }}</p>
      </div>
      <div class="col-12 col-md-6 mb-3 d-flex justify-content-end align-items-end">
        <a href="https://wa.me/+966557742801" target="_blank" class="cta">{{ 'home_page.how_we_work.free_consultation' | translate }}</a>
      </div>
    </div>
  </div>
</section>

<section class="container py-5">
  <h3 class="text-center">{{ 'home_page.partners.title' | translate }}</h3>
  <p class="text-center">{{ 'home_page.partners.subtitle' | translate }}</p>
  <div>
    <div class="marquee-container overflow-hidden py-3">
      <div class="marquee-content">
        <img src="./assets/marquee 1.png" alt="">
        <img src="./assets/marquee 2.png" alt="">
        <img src="./assets/marquee 3.png" alt="">
        <img src="./assets/marquee 4.png" alt="">
        <img src="./assets/marquee 5.png" alt="">
        <img src="./assets/marquee 6.png" alt="">
        <img src="./assets/marquee 7.png" alt="">
        <img src="./assets/marquee 8.png" alt="">
        <img src="./assets/marquee 9.png" alt="">
        <img src="./assets/marquee 10.png" alt="">
      </div>
      <div class="marquee-content" aria-hidden="true">
        <img src="./assets/marquee 1.png" alt="">
        <img src="./assets/marquee 2.png" alt="">
        <img src="./assets/marquee 3.png" alt="">
        <img src="./assets/marquee 4.png" alt="">
        <img src="./assets/marquee 5.png" alt="">
        <img src="./assets/marquee 6.png" alt="">
        <img src="./assets/marquee 7.png" alt="">
        <img src="./assets/marquee 8.png" alt="">
        <img src="./assets/marquee 9.png" alt="">
        <img src="./assets/marquee 10.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="text-center">
    <h2>{{ 'home_page.packages_section.title' | translate }}</h2>
    <p>{{ 'home_page.packages_section.subtitle' | translate }}</p>
  </div>
  <app-packages></app-packages>
</section>

<section class="container py-5">
  <h2 class="text-center mb-3">{{ 'about.who_we_are_title' | translate }}</h2>
  <p class="text-center mb-5" [innerHTML]="'about.who_we_are_desc' | translate"></p>

  <div class="row g-3">
    <div class="col-12 col-lg-4">
      <div class="about-box h-100">
        <div class="d-flex gap-2 mb-3">
          <img src="/assets/image 3.png" width="40px" alt="" />
          <h4>{{ 'about.goals_title' | translate }}</h4>
        </div>
        <ul>
          <li *ngFor="let goal of ('about.goals_list' | translate)">{{ goal }}</li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="about-box h-100">
        <div class="d-flex gap-2 mb-3">
          <img src="/assets/4 7.png" width="40px" alt="" />
          <h4>{{ 'about.vision_title' | translate }}</h4>
        </div>
        <p>
          {{ 'about.vision_desc' | translate }}
        </p>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="about-box h-100">
        <div class="d-flex gap-2 mb-3">
          <img src="/assets/image 2.png" width="40px" alt="" />
          <h4>{{ 'about.mission_title' | translate }}</h4>
        </div>
        <p>
          {{ 'about.mission_desc' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>
